<footer>
  <div class="inner">
    <div class="onBox">
      <div class="onBoxWrap">
        <div class="onBoxTitle"><h3>Support</h3></div>
        <div class="flexBox">
          <ul class="leftBox">
            <li>
              <a href="/article/q-a/6/10820/">세탁 및 취급 시 주의사항</a>
            </li>
            <li>
              <a href="/article/q-a/6/10821/page/1/">배송 및 교환/반품 안내</a>
            </li>
            <li>
              <a href="/board/frequently/list.html?board_no=3"
                >자주 묻는 질문</a
              >
            </li>
            <li><a href="/board/free/list.html?board_no=6">문의하기</a></li>
          </ul>
          <ul class="rightBox">
            <li><a href="/member/agreement.html">이용약관</a></li>
            <li><a href="/member/privacy.html">개인정보처리방침</a></li>
            <li><a href="/shopinfo/guide.html">이용안내</a></li>
          </ul>
        </div>
      </div>
      <div class="onBoxWrap">
        <div class="onBoxTitle"><h3>Brand</h3></div>
        <div class="flexBox">
          <ul class="leftBox">
            <li>
              <a href="https://mcncustom.com/" target="_blank">엠씨엔커스텀</a>
            </li>
            <li>
              <a href="https://mecenat.co.kr/" target="_blank">메세나</a>
            </li>
            <li>
              <a href="https://mcnfit.co.kr/" target="_blank">엠씨엔핏</a>
            </li>
          </ul>
          <ul class="rightBox">
            <li>
              <a href="https://mcnorder.com/" target="_blank">B2B mall</a>
            </li>
            <li>
              <a href="https://mcnfishing.com/" target="_blank">엠씨엔피싱</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="onBoxWrap">
        <div class="onBoxTitle"><h3>Contact & Bank Info</h3></div>
        <div class="flexBox">
          <ul class="leftBox">
            <li>
              <a href="tel: 1566-8657" class="contactNum">1566-8657</a>
            </li>
            <li>
              평일 오전 9시 ~ 오후 6시
            </li>
            <li>
              점심 오후 1시 ~ 오후 2시
            </li>
            <li>
              (토 / 일 / 공휴일 휴무)
            </li>
            <li class="ad">※ 광고대행사 연락 금지</li>
          </ul>
          <ul class="rightBox">
            <li>국민 634901-04-139078</li>
            <li>농협 719-02-278772</li>
            <li>예금주 : 황재웅</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="underBox">
      <div class="underBoxWrap">
        <div class="companyInfo" module="Layout_footer">
          <p>
            COMPANY : {$company_name} OWNER : {$president_name}<br />
            BUSINESS LICENSE : {$company_regno} 통신판매업 신고 :
            {$network_regno} <span>{$biz_no_link}</span><br />
            TEL : {$phone} FAX : {$fax} ADDRESS : {$mall_zipcode} {$mall_addr1}
            {$mall_addr2}<br />
            CPO : {$cpo_name}({$cpo_email})<br />
          </p>
          <p class="copyright">
            Copyright © 2017 MCNSPORTS. All rights reserved.
          </p>
        </div>
        <div class="sns">
          <div class="snsTitle"><h3>SNS</h3></div>
          <ul class="snsBox">
            <li>
              <a href="https://www.facebook.com/mcnsportss" target="_blank"><i class="xi-facebook-official"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/mcnsports/" target="_blank"><i class="xi-instagram"></i></a>
            </li>
            <li>
              <a href="https://blog.naver.com/jwhwng" target="_blank"><i class="xi-blogger"></i></a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCr8U69d1H43DE5VucJsaotw/featured" target="_blank"><i class="xi-youtube-play"></i></a>
            </li>
            <li>
                <a href="http://goto.kakao.com/@mcn" target="_blank"><img src="/web/upload/sns_icons/icon_kakaoplus_nc_dark.png" alt="카카오 플러스 친구"></a>
            </li>
            <li>
                <a href="https://band.us/band/75477702" target="_blank"><img src="/web/upload/sns_icons/icon_band_nc_dark.png" alt="카카오 플러스 친구"></a>
            </li>
            <li>
                <a href="https://talk.naver.com/WC81RA" target="_blank"><img src="/web/upload/sns_icons/icon_talktalk_nc_dark.png" alt="네이버톡톡"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="postWrap">
      <div class="empty"></div>
      <div class="empty">
        <ul class="language_list">
            <li class="language_item" lang-data="ko">
                <a href="/">
                    <img src="/web/upload/dfloor_base/web/icon/ico_global_ko_KR.png" class="img_on" alt="">
                </a>
            </li>
            <li class="language_item" lang-data="us">
                <a href="http://gmcnsports.com/">
                    <img src="/web/upload/dfloor_base/web/icon/ico_global_en_US.png" class="img_on" alt="">
                </a>
            </li>
            <li class="language_item">
                <a href="http://mcn8691.cafe24.com/shop6/">
                    <img src="/web/upload/dfloor_base/web/icon/ico_global_sg_SG.png" class="img_on" alt="">
                </a>
            </li>
        </ul>
      </div>
      <div class="post">
        <a href="https://parcel.epost.go.kr/auth.EpostLogin.parcel" target="_blank">
            <img src="/web/img/22_mcn_renewal_img/main/postoffice.jpg" alt="우체국이미지" />
        </a>
      </div>
    </div>
  </div>
</footer>
