.xans-board-title p.imgArea { margin:0 0 20px; }
.xans-board-secure .password input { width:100%; max-width:293px; }


.xans-board-securepackage {margin: 150px auto 80px; max-width: 1300px;}
.xans-board-securepackage .ec-base-button {text-align: center;}
.xans-board-securepackage .ec-base-box .headDesc {margin: 0 0 20px;}